<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .form-container{
            border:2px solid black;
            padding:8px;
            width:700px;
            margin:10px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap:5px;
        }
        form textarea{
            height:200px;
        }
    </style>
</head>
<body>
    <div class="form-container">
      <form action="/send-mail" method="POST" enctype="multipart/form-data">
        <label for="to">To:</label>
        <input type="email" id="to" name="to" placeholder="Enter receiver's email address">
        <br>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject">
        <br>
        <label for="body">Body:</label>
        <textarea id="body" name="body"></textarea>
        <br>
        <label for="file">Attachments:</label>
        <input type="file" id="file" name="file">
        <br>
        <input class="btn btn-primary" type="submit" value="Send Demo Mail">
      </form>  
    </div> 
      
     
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>